In [19]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
illiteracy = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)
illiteracy.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [17]:
illit = illiteracy.drop(['Country'], axis = 1)
illit.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [21]:
stats.spearmanr(illiteracy.Illit, illiteracy.Births)

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)

In [44]:
pearson_chisl = sum(np.multiply(map(lambda x: x - illiteracy.Illit.mean(), illiteracy.Illit),
                            map(lambda x: x - illiteracy.Births.mean(), illiteracy.Births)))

pearson_znam = (sum(map(lambda x: (x - illiteracy.Illit.mean())**2, illiteracy.Illit)) *
                    sum(map(lambda x: (x - illiteracy.Births.mean())**2, illiteracy.Births)))**0.5

pearson_chisl/pearson_znam

0.7686630271151791