In [69]:
import pandas as pd
import numpy as np
import scipy
from statsmodels.stats.weightstats import zconfint

1.

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

water.txt

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [2]:
water = pd.read_csv('water.txt', sep = '\t', header = 0)
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [3]:
water.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

2.

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [4]:
stats.spearmanr(water.mortality, water.hardness)

SpearmanrResult(correlation=-0.6316646189166502, pvalue=4.79546153722838e-08)

3.

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [16]:
water_north = water.loc[water["location"] == "North"]
water_south = water.loc[water["location"] == "South"]
print water_north.corr()
print water_south.corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000
           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

4.

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [80]:
a = 203
b = 718
c = 239
d = 515

corr_math = (a*d - b*c)/((a+b)*(a+c)*(b+d)*(c+d))**0.5
corr_math

-0.10900237458678963

5.

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили 5.5\times10^{-8}5.5×10 
−8
 , нужно ввести 8).

In [76]:
cont = np.array([[a, b], [c,d]])
chi2, p, dof, ex = scipy.stats.chi2_contingency(cont)

p

1.0558987006638725e-05

6.

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [71]:
proportion = [36, -203]
zconfint(proportion)

(-317.71569615253645, 150.71569615253645)

7.

Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу. Введите номер первой значащей цифры (например, если вы получили 5.5×10e−8, нужно ввести 8).

In [81]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

X1 = [1]*a + [0]*b
X2 = [1]*c + [0]*d

z_stat = proportions_diff_z_stat_ind(X1, X2)
2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))

8.153453089576601e-06

8.

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"

In [77]:
happyness = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])
happpy_chi2, p, dof, ex = scipy.stats.chi2_contingency(happyness)
happpy_chi2

293.68311039689746

9.

На данных из предыдущего вопроса посчитайте значение достигаемого уровня значимости. Введите номер первой значащей цифры (например, если вы получили 5.5×10e−8, нужно ввести 8).

In [79]:
p

2.4964299580093467e-62

10.

Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [75]:
n =197+111+33+382+685+331+110+342+333
kr = (happpy_chi2/(n * 2))**0.5
kr

0.2412013934500338